@import "bootstrap-sprockets";
@import "bootstrap";

$tree-indent: 2em;

.title-bar {
  margin-top: -1px;
  background-color: white;
  border: gray 1px solid;
  padding: 5px;
  position: relative;

  .title {
    // margin-left: 7px
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
  }
}

.tree {
  position: relative;

  .title-bar-fold {
    width: 100%;
    background-color: LightBlue;
  }

  .indent {
    // border: red 1px solid;
    top: 0;
    bottom: 0;
    width: $tree-indent;
    position: absolute;
  }

  .subtree {
    margin-left: $tree-indent;
  }
}
