@import "bootstrap-sprockets";
@import "bootstrap";

$tree-indent: 2em;

.tree {
  position: relative;

  .title {
    margin-top: -1px;
    background-color: white;
    border: gray 1px solid;
    padding: 5px;
    position: relative;
  }

  .title-fold {
    background-color: LightBlue;
  }

  .indent {
    // border: red 1px solid;
    top: 0;
    bottom: 0;
    width: $tree-indent;
    position: absolute;
  }

  .subtree {
    margin-left: $tree-indent;
  }
}
